<div ng-controller="EventsCollectionController as occ">
        <div layout="row">
               <!-- <md-card ng-repeat="event in occ.eventsList">
                        <img ng-src="{{event.bannerImage}}" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                                <md-card-title-text>
                                        <span class="md-headline">{{event.tagline}}</span>
                                </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                                <p>
                                        {{event.description}}
                                </p>
                                <p>
                                        <div class="eventCategoryContainer">
                                                <span ng-repeat="category in event.category" class="customChip">{{category}}</span>
                                        </div>
                                </p>
                                <div class="eventLocation">
                                        <span class="eventAddressEntity">{{event.address.area+" ,"+event.address.locality+", "+event.address.state}}</span>
                                </div>
                        </md-card-content>
                        <md-card-actions layout="column" layout-align="start">
                                <a ng-href="#/event/{{event._id}}" class="eventViewMore">
                                        
                                                View More
                                        
                                </a>
                        </md-card-actions>
                </md-card>-->
                <single-event-vert-directive flex="33" flex-xs="100" flex-sm="50" ng-repeat="item in occ.eventsList" single-event="item"> </single-event-vert-directive>
        </div>
        
</div>
