<div>
    <div class="suggestedEventImage">
        <div afkl-lazy-image="{{suggestedEvent.bannerImage}}"></div>
    </div>
    <div class="suggestedEventInfo">
        <a ng-href="#/event/singleEvent/{{suggestedEvent._id}}">
            <h5 class="suggestedEventName">{{suggestedEvent.tagline}}</h5>
        </a>
        <p class="suggestedEventAddress">
        	{{suggestedEvent.address.area+" , "+suggestedEvent.address.locality}}
        </p>
        <p class="suggestedEventCategories">
            {{suggestedEvent.category.join(" | ")}}
        </p>
    </div>
</div>
