<div >
        <!--<h3 class="productListHeading">{{productsSearchHeader.split("-").join(" ")}}</h3>-->
        <div class="productContainer" layout="row" layout-wrap layout-align="center center">
                <div class="singleProductContainer" md-whiteframe="2" flex-xs="100" ng-repeat="product in productsList track by product._id">
                        <single-product-directive single-product="product"> </single-product-directive>
                        
                </div>
        </div>
        <div style="position:relative">
                <inner-loading-directive inner-loading="loading" container-height="200px"></inner-loading-directive>
        </div>
        <md-button class="md-raised md-primary loadMoreButton" ng-click="loadMoreProducts()" ng-disabled="productsList.length>=totalProducts">
                Load More </md-button>
        <div ng-if="noProductsToShow">
                <p style="text-align: center;">No product available</p>
        </div>
</div>
