@import ../../app-modules/styles/main.sass

.filterDirectiveTemplate
  margin-top: 10px
  width: 90%
  .filterNameHeading
    background-color: teal
    padding: 10px
    border-radius: 5%
    color: white
    h5
      margin: 0
      float: left
    .clearFilterButton
      float: right
      border: 1px solid white
      background-color: white
      font-size: 12px
      padding: 2px 5px
      border-radius: 2px
      color: black
      display: block
  .filterDirectiveRadioGroup
    height: 160px
    padding: 10px
    overflow-y: auto
    background-color: white
    .filterRadioButton
      font-size: 14px
      margin: 8px
      font-weight: 500
      text-transform: capitalize
      ._md-label
        margin-left: 5px
      ._md-container
        display: none

    .highlightClass
      color: red
