<header layout="row">
    <div ng-include="'app/home/pageHeader.html'" flex></div>
</header>
<div ng-include="'app/home/searchBox.html'"></div>
<main class="fixedHeaderMain">
    <div class="customTabsContainer">
        <ul class="tabsList">
            <li ng-click="umfc.setTab(1)" ng-class="{customTabActive:umfc.isSet(1)}">Local Feed</li>
            <li ng-click="umfc.setTab(2)" ng-class="{customTabActive:umfc.isSet(2)}">My Feed</li>
        </ul>
        <div ng-show="umfc.isSet(1)">
            <div ng-include="'app/user/views/userLocalFeed.html'"></div>
        </div>
        <div ng-show="umfc.isSet(2)">
            <div ng-include="'app/user/views/userCustomFeed.html'">
            </div>
        </div>
    </div>
</main>
