<header layout="row">
    <div ng-include="'app/home/pageHeader.html'" flex></div>
</header>
<div ng-include="'app/home/searchBox.html'"></div>
<main class="fixedHeaderMain">
    <div class="userPageContainer">
        <div class="userPageSections" layout="row" layout-xs="column" layout-sm="column">
            <section class="middleTab" flex="60" flex-sm="100" flex-xs="100">
                <div class="mainContainer">
                    <div class="imageContainer" >
                      <div class="userProfileImage" afkl-lazy-image={{upc.currentUserData.picture}}>
                            <div class="imageUpload" ng-if="upc.authCheck">
                                <div class="" ng-if="upc.currentUser()">
                                    <div ng-include="'app/user/views/userProfileImageUpload.html'" flex></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="textContainer">
                      <div class="nameContainer"> 
                        <h1 class="nameHeader">
                          <span>{{upc.currentUserData.displayName}}</span>
                        </h1>  
                        
                      </div>
                      <div class="headLineConatiner">
                        <h4 class="headLineHeader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam eos, ipsa excepturi officiis nesciunt quae, autem  </h4>
                      </div>
                      <div class="bioContainer">
                        <h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quasi reiciendis dignissimos, eaque pariatur nam magnam saepe, ipsa veniam voluptates vitae quaerat mollitia obcaecati. Hic eum modi id sit sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius modi, itaque veniam quos quibusdam sit libero, repellat fugit ratione. Corrupti totam debitis molestias, provident deleniti accusamus expedita tempora repellendus facilis?
                            
                        </h5>
                      </div>
                    </div>
                </div>
                <article class="userProfileSection">
                    <section class="userProfileImageContainer">
                        
                        <div class="userFollowSection" ng-if="upc.authCheck && !upc.currentUser()">
                            <follow-directive up-fn="upc.submitUserFollow(upc.currentUserData._id)" down-fn="upc.deleteUserFollow(upc.currentUserData._id)" upv-chk="upc.userFollowed(upc.currentUserData._id)" small-loading="upc.smallLoadingModel">
                            </follow-directive>
                        </div>
                        <div class="userChatSection">
                            <div ng-if="!upc.currentUser()">
                                <a ng-href="#/chatBox/{{upc.currentProfileUser}}/{{upc.loggedUser}}" target="_self">Chat</a>
                            </div>
                        </div>
                    </section>
                    <section class="userInfoSection">
                        <article class="userInfoContainer">
                            <div class="userNameSection">
                                
                            </div>
                            <div class="userDescriptionContainer">
                                <div>
                                    <span>{{upc.currentUserData.description}}</span>
                                </div>
                                <div class="userSocialMedia">
                                    <a target="_blank" ng-href={{ "https://www.facebook.com/"+upc.currentUserData.facebook}}>Facebook</a>
                                </div>
                            </div>
                        </article>
                        <article class="userContent">
                            <div class="" ng-include="'app/user/views/userStatisticsPage.html'">
                        </article>
                        <article class="">
                        </article>
                    </section>
                </article>
            </section>
            <section class="rightTab" flex="40">
            </section>
            </div>
        </div>
</main>
</div>