<div ng-include="'app/home/searchBox.html'"></div>
<main class="fixedHeaderMain">
    <div class="customTabsContainer">
        <ul class="tabsList">
            <li ng-click="umpc.setTab(1)" ng-class="{customTabActive:umpc.isSet(1)}">Profile Settings</li>
            
            <li ng-if="umpc.authCheck" ng-click="umpc.setTab(2)" ng-class="{customTabActive:umpc.isSet(2)}">
                Account Settings
            </li>
        </ul>
        <div ng-show="umpc.isSet(1)">
            <div ng-include="'app/user/views/userProfileSettingsPage.html'"></div>
        </div>
        <div ng-show="umpc.isSet(2)">
            <div ng-include="'app/user/views/userAccountSettingsPage.html'">
            </div>
        </div>
    </div>
</main>
