<div ng-controller="OffersCollectionController as occ">
        <div layout="row">
               <!-- <md-card ng-repeat="offer in occ.offersList">
                        <img ng-src="{{offer.bannerImage}}" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                                <md-card-title-text>
                                        <span class="md-headline">{{offer.tagline}}</span>
                                </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                                <p>
                                        {{offer.description}}
                                </p>
                                <p>
                                        <div class="offerCategoryContainer">
                                                <span ng-repeat="category in offer.category" class="customChip">{{category}}</span>
                                        </div>
                                </p>
                                <div class="offerLocation">
                                        <span class="offerAddressEntity">{{offer.address.area+" ,"+offer.address.locality+", "+offer.address.state}}</span>
                                </div>
                        </md-card-content>
                        <md-card-actions layout="column" layout-align="start">
                                <a ng-href="#/offer/{{offer._id}}" class="offerViewMore">
                                        
                                                View More
                                        
                                </a>
                        </md-card-actions>
                </md-card>-->
                <single-offer-vert-directive flex="33" flex-xs="100" flex-sm="50" ng-repeat="item in occ.offersList" single-offer="item"> </single-offer-vert-directive>
        </div>
        
</div>
