<div ng-include="'app/home/searchBox.html'"></div>
<div class="offerPage">
        <div class="offerBannerSection">
                <div class="offerBannerImage" flex>
                        <img ng-src="{{opc.offerData.bannerImage}}" alt="" />
                </div>
        </div>
        <br>
        <md-button class="md-raised md-primary" ng-click="opc.shareFacebook()">Facebook</md-button>
        <a href="#" socialshare socialshare-provider="facebook" socialshare-url="http://720kb.net">
Share me
</a>
        <div layout="row">
                <div flex="50" flex-offset-gt-sm="5" flex-sm="100" flex-xs="100" class="offerDetailsSection">
                        <div class="offerTitle">
                                <h2> {{opc.offerData.tagline}} </h2>
                        </div>
                        <div class="offerDescription">
                                <p>
                                        {{opc.offerData.description}}
                                </p>
                        </div>
                        <div class="offerDetailsContent">
                                <div layout="column">
                                        <div layout="row" class="offerDetailsEntity">
                                                <div flex="30" flex-sm="100" flex-xs="100" class="offerDetailsEntityLabel">Start Date</div>
                                                <div flex="70" flex-sm="100" flex-xs="100">{{ opc.offerData.startDate | date: 'd MMM yyyy'}}</div>
                                        </div>
                                        <div layout="row" class="offerDetailsEntity">
                                                <div flex="30" flex-sm="100" flex-xs="100" class="offerDetailsEntityLabel">End Date</div>
                                                <div flex="70" flex-sm="100" flex-xs="100">{{ opc.offerData.endDate | date: 'd MMM yyyy'}}</div>
                                        </div>
                                        <div layout="row" class="offerDetailsEntity">
                                                <div flex="30" flex-sm="100" flex-xs="100" class="offerDetailsEntityLabel">Venue</div>
                                                <div flex="70" flex-sm="100" flex-xs="100">{{ opc.offerData.address.area+", "+opc.offerData.address.locality+", "+opc.offerData.address.city}}</div>
                                        </div>
                                        <div layout="row" class="offerDetailsEntity">
                                                <div flex="30" flex-sm="100" flex-xs="100" class="offerDetailsEntityLabel">Category</div>
                                                <div flex="70" flex-sm="100" flex-xs="100">{{ opc.offerData.category.join(", ")}}</div>
                                        </div>
                                </div>
                        </div>
                        <div class="offerMapContainer">
                                <div class="mapContainer">
                                        <ng-map zoom='15' center="{{opc.pos}}" scrollwheel="false">
                                                <marker position="{{opc.pos}}" animation="Animation.BOUNCE">
                                                </marker>
                                        </ng-map>
                                </div>
                        </div>
                </div>
                <div flex="30" flex-sm="100" flex-xs="100" class="offerSuggestionSection">
                        
                        <div class="moreOfferSection">
                                <offer-suggestion-list offer-limit="6" offer-city="opc.offerData.address.city"> </offer-suggestion-list>
                        </div>
                </div>
        </div>
</div>
