<div>
    <div class="suggestedOfferImage">
        <div afkl-lazy-image="{{suggestedOffer.bannerImage}}"></div>
    </div>
    <div class="suggestedOfferInfo">
        <a ng-href="#/offer/singleOffer/{{suggestedOffer._id}}">
            <h5 class="suggestedOfferName">{{suggestedOffer.name}}</h5>
        </a>
        <p class="suggestedOfferAddress">
        	{{suggestedOffer.address.area+" "}}
        </p>
        <p class="suggestedOfferCategories">
            {{suggestedOffer.category.join(" | ")}}
        </p>
    </div>
</div>
