.adminStoreBannerImage {
  height: 300px;
  width: 100%;
  background-size: 100% 100%;
  position: relative; }
  .adminStoreBannerImage .imageUploadClick {
    position: absolute;
    right: -10px;
    background: none;
    font-size: 32px;
    border: none;
    -webkit-transition: all ease-in 400ms;
            transition: all ease-in 400ms;
    -webkit-transition-delay: 400ms;
            transition-delay: 400ms;
    visibility: hidden; }
  .adminStoreBannerImage:hover .imageUploadClick {
    position: absolute;
    right: 0px;
    color: #eee;
    background: none;
    font-size: 32px;
    border: none;
    visibility: visible; }

.productMainImage {
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.formItem-help-text {
  font-size: 12px; }

.storeImagesList {
  list-style: none;
  padding: 0; }
  .storeImagesList li {
    display: inline;
    margin: 2px; }

.capital-heading-text {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  color: #795548; }

.capital-sub-heading-text {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #795548; }

.capital-normal-text {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #795548; }


.tabsContent {
  margin-top: 2px; }

.md-body-tab {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 2px; }

md-tabs-canvas {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 2px; }

.tabDivider {
  width: 2px;
  height: 100%;
  color: red;
  background-color: red; }

md-ink-bar {
  height: 5px;
  color: red;
  background-color: red; }

.md-tab {
  background-color: white;
  padding: 15px 25px;
  border-right: 1px solid #eee; }

.tabLabel {
  position: relative;
  color: black;
  font-weight: 500;
  text-transform: capitalize; }
  .tabLabel .tabLabelText {
    margin-left: 3px;
    font-size: 14px; }

.singleImageDirective {
  width: 100%;
  height: 100%; }
  .singleImageDirective img {
    height: 100%;
    width: 100%; }

@charset "UTF-8";
.likeDirectiveContainer {
  font-size: 12px;
  cursor: pointer; }

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg); } }

.spinner {
  min-width: 24px;
  min-height: 24px; }
  .spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px; }
  .spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border-top: 2px solid #03ade0;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite; }

.innerSpinnerDiv {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0; }

.ajaxLoadingSpinnerDiv {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.ajaxLoadingSpinner {
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 6px solid #fff;
  border-left: 6px solid #fff;
  border-right: 6px solid #c30;
  border-top: 6px solid #c30;
  border-radius: 100%;
  height: 90px;
  width: 90px;
  -webkit-animation: spin .6s infinite linear;
  animation: spin .6s infinite linear; }

@keyframes "spin" {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes "spin" {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.mdMenuContainer {
  width: 250px;
  text-transform: capitalize;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 10px; }
  .mdMenuContainer .md-button span {
    width: 100%;
    text-transform: capitalize;
    overflow-x: hidden;
    text-overflow: ellipsis; }
  .mdMenuContainer .menuHeading {
    margin: 2px 5px; }

.userActivityButtonContainer {
  border-radius: 2px;
  font-size: 14px;
  height: 40px;
  margin: 10px;
  background-color: white;
  border: 2px solid white; }
  .userActivityButtonContainer:hover {
    background-color: #E5E7EC;
    box-shadow: 0 0 0 1px transparent inset;
    color: rgba(0, 0, 0, 0.95);
    border: 2px solid #e7e7e7; }
  .userActivityButtonContainer span {
    float: left;
    margin: 5px;
    margin-top: 6px; }
  .userActivityButtonContainer .userName {
    text-transform: capitalize;
    margin-top: 10px; }
  .userActivityButtonContainer .dropIcon {
    margin-top: 10px; }
  .userActivityButtonContainer .userActionListImage {
    width: 24px;
    height: 24px;
    border-radius: 50%; }

.search-banner {
  width: 100%;
  height: 50vh;
  position: relative;
  background-image: url("https://www.ultimatedesignertoolkit.com/wp-content/uploads/2015/11/Background_5.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px; }

.dark-mask-absolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(233, 30, 99, 0.35); }

.content-header {
  position: relative;
  color: white; }

.search-box-container {
  margin: auto 10%;
  font-family: 'Raleway', sans-serif !important; }

.logoSection {
  color: white;
  margin: 10px; }

.chipElement {
  background: #e0e0e0;
  color: #424242;
  cursor: default;
  border-radius: 3px;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  margin: 8px 8px 0 0;
  padding: 2px 12px;
  box-sizing: border-box;
  max-width: 100%;
  position: relative; }

@media (max-width: 959px) and (min-width: 600px) {
  .search-banner {
    height: 50vh; }
  .searchBoxLayout {
    height: 120px; }
  .search-box-container {
    margin: auto 10%;
    font-family: 'Raleway', sans-serif !important; }
    .search-box-container > div:first-child {
      height: 250px; } }

@media (max-width: 599px) {
  .search-box-container {
    margin: auto 10%;
    font-family: 'Raleway', sans-serif !important; } }

@media (max-width: 959px) and (min-width: 600px) {
  .homePageDiv .searchBoxLayout {
    height: 300px; } }

@media (max-width: 599px) {
  .fixedTopHeader {
    position: fixed;
    top: 0px;
    z-index: 99999; }
  .scrollUpSearch {
    position: fixed;
    top: 55px;
    width: 100%;
    z-index: 99;
    display: none; }
  .search-icon-div {
    padding: 10px; }
  .fixedHeaderMain {
    margin-top: 65px; }
  .homePageDiv .searchBoxLayout {
    height: 200px; }
  .homePageDiv .fixedTopHeader {
    position: relative; }
  .homePageDiv .search-box-container {
    margin: auto 5%;
    width: auto; }
  .homePageDiv .search-banner {
    height: 50vh;
    padding: 0; } }

.searchBoxStores .searchBoxLayout {
  height: 80px;
  padding: 20px;
  background-color: teal; }

@media (max-width: 959px) and (min-width: 600px) {
  .searchBoxStores .searchBoxLayout {
    padding: 0;
    height: 100%; } }

@media (max-width: 599px) {
  .searchBoxStores .searchBoxLayout {
    padding: 0;
    height: 100%; } }

.productPageContainer .singleProductContainer .productTopContainer .productImageContainer {
  padding: 10px;
  background-color: white;
  margin: 10px; }
  .productPageContainer .singleProductContainer .productTopContainer .productImageContainer .productImage {
    width: 100%; }

.productPageContainer .singleProductContainer .productTopContainer .productBriefContainer {
  padding: 10px;
  background-color: white;
  margin: 10px; }
  .productPageContainer .singleProductContainer .productTopContainer .productBriefContainer .productName {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize; }
  .productPageContainer .singleProductContainer .productTopContainer .productBriefContainer .productPrice {
    font-size: 16px; }

.productPageContainer .singleProductContainer .productMiddleContainer .productReviewsBrief .productReviewsBriefIcons .iconContainer {
  text-align: center;
  margin: 5px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  background-color: white;
  -webkit-transition: all 1s;
          transition: all 1s; }
  .productPageContainer .singleProductContainer .productMiddleContainer .productReviewsBrief .productReviewsBriefIcons .iconContainer:hover {
    color: red; }
  .productPageContainer .singleProductContainer .productMiddleContainer .productReviewsBrief .productReviewsBriefIcons .iconContainer .iconClass {
    font-size: 32px;
    text-align: center; }

.capital-heading-text {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  color: #795548; }

.capital-sub-heading-text {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #795548; }

.capital-normal-text {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #795548; }

.productContainer {
  padding: 10px; }
  .productContainer .singleProductContainer {
    background-color: white;
    margin-bottom: 10px;
    border-right: 10px solid #f3f3f3;
    box-shadow: none; }
    .productContainer .singleProductContainer .productImageContainer {
      width: 100%;
      margin: 5px;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.12); }
      .productContainer .singleProductContainer .productImageContainer .singleProductImage {
        width: 100%;
        height: 100%; }
    .productContainer .singleProductContainer .productDetailsContainer {
      padding: 5px;
      text-transform: capitalize;
      box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.12); }
      .productContainer .singleProductContainer .productDetailsContainer .productName {
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        margin: 3px 0;
        cursor: pointer; }
      .productContainer .singleProductContainer .productDetailsContainer .productCategory {
        font-size: 11px;
        padding: 2px 5px;
        background-color: green;
        margin: 2px;
        color: white;
        border-radius: 2px; }
      .productContainer .singleProductContainer .productDetailsContainer .productSubCategory {
        font-size: 11px;
        padding: 2px 5px;
        background-color: blue;
        margin: 2px;
        color: white;
        border-radius: 2px; }
      .productContainer .singleProductContainer .productDetailsContainer .productPrice {
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 2px;
        color: white;
        background-color: red; }
      .productContainer .singleProductContainer .productDetailsContainer .productStatsContainer {
        font-size: 14px;
        font-weight: 600; }
        .productContainer .singleProductContainer .productDetailsContainer .productStatsContainer .productStatsEntity {
          margin: 0 2px; }

.reviewSubmitForm {
  background-color: white;
  padding: 25px; }
  .reviewSubmitForm .reviewSubmitFormContent {
    background-color: white; }

.userRatingSection {
  width: 175px; }
  .userRatingSection .rating {
    border: none; }
    .userRatingSection .rating input {
      display: none; }
    .userRatingSection .rating label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005"; }
    .userRatingSection .rating label {
      color: rgba(0, 0, 0, 0.5);
      float: right; }
    .userRatingSection .rating input:checked ~ label {
      color: #FFD700; }
    .userRatingSection .rating:not(:checked) > label:hover {
      color: #FFD700; }
      .userRatingSection .rating:not(:checked) > label:hover ~ label {
        color: #FFD700; }
    .userRatingSection .rating > input:checked + label:hover, .userRatingSection .rating > input:checked ~ label:hover {
      color: #FFED85; }
    .userRatingSection .rating > label:hover ~ input:checked ~ label, .userRatingSection .rating > input:checked ~ label:hover ~ label {
      color: #FFED85; }

.likeReviewContainer .likeReviewIconContainer {
  background-color: #eee;
  padding: 8px 10px; }
  .likeReviewContainer .likeReviewIconContainer .likeText {
    margin-left: 5px; }

.likeReviewContainer .likeReviewCountContainer {
  background-color: white;
  padding: 7px 9px;
  border: 1px solid #eee;
  border-radius: 3px;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; }

.capital-heading-text {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  color: #795548; }

.capital-sub-heading-text {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #795548; }

.capital-normal-text {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #795548; }

.filterDirectiveTemplate {
  margin-top: 10px;
  width: 90%; }
  .filterDirectiveTemplate .filterNameHeading {
    background-color: teal;
    padding: 10px;
    border-radius: 5%;
    color: white; }
    .filterDirectiveTemplate .filterNameHeading h5 {
      margin: 0;
      float: left; }
    .filterDirectiveTemplate .filterNameHeading .clearFilterButton {
      float: right;
      border: 1px solid white;
      background-color: white;
      font-size: 12px;
      padding: 2px 5px;
      border-radius: 2px;
      color: black;
      display: block; }
  .filterDirectiveTemplate .filterDirectiveRadioGroup {
    height: 160px;
    padding: 10px;
    overflow-y: auto;
    background-color: white; }
    .filterDirectiveTemplate .filterDirectiveRadioGroup .filterRadioButton {
      font-size: 14px;
      margin: 8px;
      font-weight: 500;
      text-transform: capitalize; }
      .filterDirectiveTemplate .filterDirectiveRadioGroup .filterRadioButton ._md-label {
        margin-left: 5px; }
      .filterDirectiveTemplate .filterDirectiveRadioGroup .filterRadioButton ._md-container {
        display: none; }
    .filterDirectiveTemplate .filterDirectiveRadioGroup .highlightClass {
      color: red; }

.filterDirectiveRadioGroup::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

.filterDirectiveRadioGroup::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5; }

.filterDirectiveRadioGroup::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 5px; }

.capital-heading-text, .reviewHeadingText, .addressHeadingText {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  color: #795548; }

.capital-sub-heading-text {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #795548; }

.capital-normal-text, .addressContentText {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #795548; }

.storeImagesCollection {
  background-color: white;
  padding: 5px; }

.carouselContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999999999; }

.storeImageContent {
  margin-top: 35px;
  background-color: #fafafa;
  border: 1px solid #e7e7e7;
  border-radius: 1px;
  position: relative; }
  .storeImageContent .businessClaimButton {
    position: absolute; }
    .storeImageContent .businessClaimButton button {
      color: white;
      text-transform: capitalize; }
  .storeImageContent .storeBannerImage {
    width: 100%;
    background-size: 100% 100%;
    height: 300px; }
  .storeImageContent .storeHeadingRating {
    padding: 10px; }
    .storeImageContent .storeHeadingRating .singleStoreHeading {
      font-size: 24px;
      text-transform: capitalize; }
  .storeImageContent .userInteractionNav {
    margin-bottom: 20px; }
    .storeImageContent .userInteractionNav .userInteractionContainers {
      font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
      margin: 0 10px;
      background: #FFF;
      border: 1px solid #e7e7e7;
      color: #7B8489;
      border-radius: 5px;
      font-weight: 500; }
      .storeImageContent .userInteractionNav .userInteractionContainers .chipType {
        display: block;
        padding: 6px 15px;
        cursor: pointer;
        -webkit-transition: background .1s ease;
                transition: background .1s ease; }
        .storeImageContent .userInteractionNav .userInteractionContainers .chipType:hover {
          background: #eee; }
        .storeImageContent .userInteractionNav .userInteractionContainers .chipType .chipText {
          margin-left: 7px;
          font-size: 14px; }

.addressContentText {
  margin-top: 25px;
  margin-left: 15px; }

.storeReviewsBrief {
  width: 100%; }
  .storeReviewsBrief .storeReviewsBriefIcons .iconContainer {
    text-align: center;
    margin: 5px;
    padding: 15px;
    width: 100%;
    background-color: white;
    -webkit-transition: all 1s;
            transition: all 1s;
    cursor: pointer; }
    .storeReviewsBrief .storeReviewsBriefIcons .iconContainer:hover {
      color: red; }
    .storeReviewsBrief .storeReviewsBriefIcons .iconContainer .iconClass {
      font-size: 32px;
      text-align: center; }

.storePageStatsNav .statsContent {
  padding: 10px;
  cursor: pointer; }
  .storePageStatsNav .statsContent .statsContentText {
    margin: 2px 0; }
    .storePageStatsNav .statsContent .statsContentText span {
      margin: 5px; }

.storePageStatsNav md-divider {
  border-right-width: 3px; }

.storeDetailsContainer {
  padding: 10px; }
  .storeDetailsContainer .infoContainer .contentHeader {
    margin: 5px 0;
    font-size: 16px; }
  .storeDetailsContainer .infoContainer .contentText p {
    text-transform: capitalize;
    margin: 0;
    font-size: 14px; }
  .storeDetailsContainer .infoContainer .contentText .moreLocationsLink {
    font-size: 12px; }

.capital-heading-text, .storeListHeading {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  color: #795548; }

.capital-sub-heading-text {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #795548; }

.capital-normal-text {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: #795548; }

.storeListCategories {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize; }
  .storeListCategories .storeListCategory {
    border-radius: 2px;
    padding: 2px 5px;
    background-color: blue;
    color: white;
    margin: 2px; }

.storeListSubCategories {
  margin-top: 5px;
  font-size: 12px;
  text-transform: capitalize; }
  .storeListSubCategories .storeListSubCategory {
    border-radius: 2px;
    padding: 2px 5px;
    background-color: green;
    color: white;
    margin: 2px; }

.storeCardImage {
  background-size: cover;
  height: 100px; }

.storeAddressDetails {
  font-size: 12px;
  font-weight: 500;
  color: black;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px; }

.storeCardFooter {
  font-size: 12px;
  font-weight: 800; }
  .storeCardFooter span {
    margin: 2px; }

.storeNameHeading {
  text-transform: capitalize;
  font-weight: 700;
  color: #795548;
  font-size: 18px;
  cursor: pointer; }
  .storeNameHeading span {
    color: red;
    font-size: 12px;
    padding-left: 5px; }

.userImg {
  width: 50px;
  height: 50px;
  background-image: url("http://opstatic.com/img/profile/default_user.jpg");
  background-size: cover; }

.reviewListSection {
  padding: 5px; }
  .reviewListSection .singleReview {
    padding: 10px;
    background-color: white;
    margin: 10px 0px;
    border-top: 1px solid #eee; }
    .reviewListSection .singleReview .reviewContent {
      margin: 10px 0; }
  .reviewListSection .userSection {
    font-size: 12px; }
  .reviewListSection .userImg {
    width: 50px;
    height: 50px;
    background-image: url("http://opstatic.com/img/profile/default_user.jpg");
    background-size: cover; }
  .reviewListSection .userStats ul {
    list-style: none;
    margin: 0;
    padding-left: 10px; }
    .reviewListSection .userStats ul .userName {
      font-size: 14px;
      font-weight: bold; }
    .reviewListSection .userStats ul .userFollowers {
      font-weight: bold; }
  .reviewListSection .contentRatingSection {
    font-size: 11px;
    margin-top: 5px; }

.userRatingSection > input {
  display: none; }

.userRatingSection > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.userRatingSection > .half:before {
  content: "\f089";
  position: absolute; }

.userRatingSection > label {
  color: #ddd;
  float: right; }

.userRatingSection > input:checked ~ label {
  color: #FFD700; }

.userRatingSection:not(:checked) > label:hover {
  color: #FFD700; }
  .userRatingSection:not(:checked) > label:hover ~ label {
    color: #FFD700; }

.userRatingSection > input:checked + label:hover, .userRatingSection > input:checked ~ label:hover {
  color: #FFED85; }

.userRatingSection > label:hover ~ input:checked ~ label, .userRatingSection > input:checked ~ label:hover ~ label {
  color: #FFED85; }

/***** CSS Magic to Highlight Stars on Hover **** */
/* hover previous stars in list */



.clearBoth {
  clear: both; }

.singleActivity {
  margin-top: 10px; }
  .singleActivity .activityContent {
    background-color: white; }
    .singleActivity .activityContent .activityContentText {
      padding: 20px; }
      .singleActivity .activityContent .activityContentText .activityReviewStoreImageContainer {
        width: 100%;
        height: 250px; }
        .singleActivity .activityContent .activityContentText .activityReviewStoreImageContainer .reviewStoreImage {
          height: 100%;
          width: 100%; }
          .singleActivity .activityContent .activityContentText .activityReviewStoreImageContainer .reviewStoreImage img {
            height: 100%;
            width: 100%; }
      .singleActivity .activityContent .activityContentText .activityReviewProductImageContainer {
        width: 100%;
        height: 250px; }
        .singleActivity .activityContent .activityContentText .activityReviewProductImageContainer .reviewProductImage {
          height: 100%;
          width: 100%; }
          .singleActivity .activityContent .activityContentText .activityReviewProductImageContainer .reviewProductImage img {
            height: 100%;
            width: 100%; }
      .singleActivity .activityContent .activityContentText .activityReviewContentContainer {
        padding: 10px; }
        .singleActivity .activityContent .activityContentText .activityReviewContentContainer .activityReviewDescription {
          margin-top: 10px; }
  .singleActivity .activityHeading {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    border-radius: 3px;
    background-color: white;
    padding: 15px; }
    .singleActivity .activityHeading .creatorImageContainer {
      float: left; }
      .singleActivity .activityHeading .creatorImageContainer .creatorImage {
        width: 32px;
        height: 32px; }
        .singleActivity .activityHeading .creatorImageContainer .creatorImage img {
          height: 100%;
          width: 100%; }
    .singleActivity .activityHeading .activityHeadingTextContainer {
      margin-left: 40px; }
      .singleActivity .activityHeading .activityHeadingTextContainer .activityHeadingText {
        margin: 0;
        margin-bottom: 5px; }
        .singleActivity .activityHeading .activityHeadingTextContainer .activityHeadingText .activityHeadingTextInfo {
          margin: 2px;
          text-transform: capitalize; }
    .singleActivity .activityHeading .activityTime {
      margin: 3px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.6); }
  .singleActivity .activityFollowCreatorImageContainer {
    float: left;
    width: 25%;
    height: 120px; }
    .singleActivity .activityFollowCreatorImageContainer .followCreatorImage {
      width: 100%;
      height: 100%; }
      .singleActivity .activityFollowCreatorImageContainer .followCreatorImage img {
        width: 100%;
        height: 100%; }
  .singleActivity .activityFollowFollowedImageContainer {
    float: left;
    width: 25%;
    height: 120px; }
    .singleActivity .activityFollowFollowedImageContainer .followFollowedImage {
      width: 100%;
      height: 100%; }
      .singleActivity .activityFollowFollowedImageContainer .followFollowedImage img {
        width: 100%;
        height: 100%; }

.followersList .followerContainer {
  border: 1px solid #e9ebee;
  margin-top: 3px; }
  .followersList .followerContainer .followerImage {
    height: 80px;
    max-width: 80px; }
    .followersList .followerContainer .followerImage img {
      height: 100%;
      width: 100%; }
  .followersList .followerContainer .followerInfo {
    padding: 5px; }
    .followersList .followerContainer .followerInfo .followerName {
      cursor: pointer;
      font-weight: 700;
      font-size: 14px; }
    .followersList .followerContainer .followerInfo .followerLength {
      font-weight: 300;
      font-size: 10px; }
  .followersList .followerContainer .followUser .followUserButton {
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5%;
    background-color: teal;
    font-size: 10px;
    text-transform: capitalize; }

.userFollowingImage {
  width: 180px;
  height: 180px;
  border: 15px inset; }
  .userFollowingImage img {
    width: 100%;
    height: 100%; }

.userProfileImage {
  width: 180px;
  height: 180px;
  border: 15px inset;
  position: relative;
  -webkit-transition: all 1s ease;
          transition: all 1s ease; }
  .userProfileImage img {
    width: 100%;
    height: 100%; }
  .userProfileImage .imageUpload {
    visibility: hidden;
    height: 0;
      height-opacity: 0;
      height-transition: all 1s ease; }
    .userProfileImage .imageUpload .imageUploadClick {
      background: none;
      color: white;
      font-size: 32px;
      border: none; }

.userProfileImage:hover .imageUpload {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  box-sizing: border-box;
  text-align: center;
  color: white;
  padding: 12px;
  font-size: 20px;
  line-height: 180px;
  visibility: visible;
  height: 100%;
    height-opacity: 1; }
