<div class="filterDirectiveTemplate">
        <div class="filterNameHeading">
                <h5>{{filterName}}</h5>
                <button type="button" class="clearFilterButton" name="button" ng-disabled="!radioModel[filterName.toLowerCase()]" remove-class="highlightClass" ng-click="clearClick()">Clear</button>
                <div style="clear:both;"></div>
        </div>
        <div class="filterDirectiveRadioGroup">
                <div ng-repeat="item in radioRepeat" class="filterRadioItem">
                        <input type="radio" id="{{item}}" ng-model="radioModel[filterName]" ng-change="radioChange()" value="{{item}}" />
                        <label class="filterLabel" for="{{item}}">{{item}}</label>
                </div>
        </div>
</div>
