<div class="filterDirectiveTemplate">
        <h3 class="filterHeader">Filter</h3>
        <div class="filterNameContainer" layout="row"  layout-align="space-between end">
                <h5 class="filterNameHeader">{{filterName}}</h5>
                <button type="button" class="clearFilterButton" name="button" ng-disabled="!radioModel[filterName.toLowerCase()]" remove-class="highlightClass" ng-click="clearClick()">Clear</button>
                
        </div>
        <div class="filterDirectiveRadioGroup">
        <div ng-repeat="item in radioRepeat" class="filterRadioItem filterRadioContainer">
                <label class="filterLabel" md-ink-ripple="#03A9F4" ng-mousedown="$event.stopPropagation()" for="{{item}}">
                        <input class="filterRadio" type="radio" id="{{item}}" ng-model="radioModel[filterName]" ng-change="radioChange()" value="{{item}}" /><span class="radioText">{{item}}</span>
                </label>
        </div>
        </div>
        
                
        </div>
</div>
