<div>
    <div class="suggestedStoreImage">
        <div afkl-lazy-image="{{suggestedStore.bannerImage}}"></div>
    </div>
    <div class="suggestedStoreInfo">
        <a ng-href="#/store/singleStore/{{suggestedStore._id}}">
            <h5 class="suggestedStoreName">{{suggestedStore.name}}</h5>
        </a>
        <p class="suggestedStoreAddress">
        	{{suggestedStore.address.area+" "}}
        </p>
        <p class="suggestedStoreCategories">
            {{suggestedStore.category.join(" | ")}}
        </p>
    </div>
</div>
