<div class="storesLocationCollection">
        <div ng-include="'app/home/searchBox.html'"></div>
        <main class="fixedHeaderMain">
                <h3 toggle-mobile=".locationFilters" hide-lg hide-md>Filters</h3>
                <div layout="row" layout-wrap>
                        <div class="locationFilters" flex="20" hide-sm hide-xs flex-sm="100" flex-xs="100">
                                <h3 hide-sm hide-xs>Filters</h3>
                                <div class="" layout-sm="column" layout-xs="column">
                                        <filter-directive filter-name="{{slcc.areaFilterName}}" radio-model="slcc.areaRadioModel" radio-change="slcc.areaRadioChange()" radio-repeat="slcc.areas" clear-click="slcc.areaRadioClear()">
                                        </filter-directive>
                                        <filter-directive filter-name="{{slcc.categoryFilterName}}" radio-model="slcc.categoryRadioModel" radio-change="slcc.categoryRadioChange()" radio-repeat="slcc.categories" clear-click="slcc.categoryRadioClear()">
                                        </filter-directive>
                                </div>
                        </div>
                        <div flex="55" flex-sm="100" flex-xs="100">
                        		<h3>{{slcc.storesSearchHeader.split('-').join(" ")}}</h3>
                                <stores-list param-data="slcc.paramData">
                                </stores-list>
                        </div>
                        <div flex="20" hide-sm hide-xs>[flex=20]</div>
                </div>
        </main>
</div>
