<div class="storesCategoryCollection">
        <div ng-include="'app/home/searchBox.html'"></div>
        <main class="fixedHeaderMain">
                <div layout="row" layout-wrap>
                        <div class="locationFilters" flex="20" hide-sm hide-xs flex-sm="100" flex-xs="100">
                                <h3 hide-sm hide-xs>Filters</h3>
                                <div class="" layout-sm="row" layout-xs="row" flex="grow" layout-wrap>
                                        <filter-directive filter-name="Area" radio-model="sccc.areaModel" radio-change="sccc.areaRadioClicked()" radio-repeat="sccc.areas" clear-click="sccc.clearAreaFilters()">
                                        </filter-directive>
                                </div>
                        </div>
                        <div flex="55" flex-sm="100" flex-xs="100">
                                <div ng-include="'app/store/views/storesList.html'"></div>
                        </div>
                        <div flex="20" hide-sm hide-xs></div>
                </div>
        </main>
</div>
