<div ng-controller="UserReviewListController as url" class="reviewListSection">
  
  <div layout="column" layout-sm="column" layout-xs="column"  class="singleReview" ng-repeat-start="review in url.reviewList track by review._id">
      
      <div  class="userSection">
        <div layout="row" class="userProfile">
          <div ng-if="review.store.name">
            <span >Store</span>-<span ng-click=url.getSingleStorePage(review.store)>{{::review.store.name}}</span>
          </div>
          <div ng-if="review.product.name">
            <span>Product</span>-<span ng-click=url.getSingleProductPage(review.product)>{{::review.product.name}}</span>
          </div>
          
        </div>
      </div>
      <div  class="contentSection">
        <div class="ratingSection">
          <span ng-repeat="i in url.getRating(review)">
            <i aria-hidden="true" class="fa fa-star"></i>
          </span>
        </div>
        <div class="reviewContent">
          {{::review.description }}
        </div>
        <div class="contentRatingSection">
          <div class="reviewStats"><span>{{ ::review.upvotes.length ||0 }} <i class="fa fa-heart-o" aria-hidden="true"></i></span></div>
        </div>

        <div class="userReviewUpvoteSection" ng-if="url.authCheck">
          <like-directive
            up-fn="url.submitUserReviewUpvote(review)"
            down-fn="url.deleteUserReviewUpvote(review)"
            upv-chk="url.userReviewUpvoted(review)"
            small-loading="url.smallLoadingModel[review._id]">
          </like-directive>



        </div>
      </div>

  </div>
  <div ng-repeat-end=""></div>


</div>
