<div class="layout-column flex">
    
    <div layout="row">
        <div style="background: #FFF;" md-whiteframe="2">
            <form name="storeForm">
                <div class="storeIntroSection">
                    <h3 class="formSectionHeaders">Store Details</h3>
                    <div layout="row" layout-align="space-around" layout-wrap layout-margin>
                        <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                            <label class="formEntityLabel" for="storeName">Name</label>
                            <input class="formEntityInput" ng-model="csc.storeForm.name" type="text" name="storeName" required="required" />
                            <div ng-messages="" style="">
                                <div ng-message="required" class="" style="">This field is required</div>
                            </div>
                        </div>
                        <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                            <label class="formEntityLabel" for="storePhone">Phone</label>
                            <input class="formEntityInput" type="tel" ng-model="csc.storeForm.phone" name="storePhone" />
                        </div>
                        <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                            <md-button class="md-raised md-primary" type="file" ngf-select="csc.uploadSingleImage($file, $invalidFiles)" accept="image/*" ngf-max-height="5000" ngf-max-size="10MB">
                                Upload banner Image
                            </md-button>
                            <inner-loading-directive inner-loading="csc.formBannerLoading" container-height="100px"></inner-loading-directive>
                            <div style="width:90px;height:90px;" ng-if="csc.storeForm.bannerImage || csc.uploadedImage">
                                <img ng-src="{{csc.storeForm.bannerImage || csc.uploadedImage}}" style="width:100%;height:100%;">
                            </div>
                        </div>
                        <div flex="45" flex-sm="100" flex-xs="100" class="formEntity">
                            <div>
                                <md-button class="md-raised md-primary" ngf-select="csc.uploadMultipleImages($files)" multiple accept="image/*">Upload Images</md-button>
                                {{csc.errorMsg}}
                            </div>
                            <inner-loading-directive inner-loading="csc.formImgListLoading" container-height="100px"></inner-loading-directive>
                            <div layout="row" class="storeImagesCollection">
                                <images-list-directive images-list="csc.storeForm.storeImages"></images-list-directive>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="storeAddressSection">
                    <h3 class="formSectionHeaders">Address</h3>
                    <div class="storeAddressForm">
                        <div layout="row" layout-align="space-around" layout-wrap layout-margin>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="addressDoor">Door/Plot No.</label>
                                <input class="formEntityInput" type="text" name="addressDoor" ng-model="csc.storeForm.address.doorNo" />
                            </div>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="addressLandmark">Landmark</label>
                                <input class="formEntityInput" type="text" name="addressLandmark" ng-model="csc.storeForm.address.landmark" />
                            </div>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="addressArea">Area</label>
                                <input class="formEntityInput" type="text" name="addressDoor" ng-model="csc.storeForm.address.area" />
                            </div>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="addressLocality">Locality</label>
                                <input class="formEntityInput" type="text" name="addressLocality" ng-model="csc.storeForm.address.locality" />
                            </div>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="addressCity">City</label>
                                <input class="formEntityInput" ng-model="csc.storeForm.address.city" type="text" name="addressCity" />
                            </div>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="addressState">State</label>
                                <input class="formEntityInput" type="text" name="addressState" />
                            </div>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="addressPincode">Pincode</label>
                                <input class="formEntityInput" type="text" name="addressPincode" />
                            </div>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="addressCountry">Country</label>
                                <input class="formEntityInput" type="text" name="addressCountry" ng-model="csc.storeForm.address.country" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="storeInfoSection">
                    <h3 class="formSectionHeaders">Information</h3>
                    <div class="storeInformationForm">
                        <div layout="row" layout-align="space-around" layout-wrap layout-margin>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="storeCategory">Category<small>(Press enter to separate multiples)</small></label>
                                <div>
                                    <md-chips class="chipLook" ng-model="csc.storeForm.category" name="storeCategory" readonly="false" md-removable="true" md-max-chips="15">
                                        <md-chip-template>
                                            <strong>{{$chip}}</strong>
                                        </md-chip-template>
                                    </md-chips>
                                </div>
                                <div class="errors" ng-messages="storeForm.storeCategory.$error">
                                    <div ng-message="md-max-chips">The maxmium of chips is reached.</div>
                                </div>
                            </div>
                            <div class="formEntity" flex="45" flex-sm="100" flex-xs="100">
                                <label class="formEntityLabel" for="storeSubCategory">Sub-Category<small>(Press enter to separate multiples)</small></label>
                                <div>
                                    <md-chips class="chipLook" ng-model="csc.storeForm.subCategory" name="storeSubCategory" readonly="false" md-removable="true" md-max-chips="5">
                                        <md-chip-template>
                                            <strong>{{$chip}}</strong>
                                        </md-chip-template>
                                    </md-chips>
                                </div>
                                <div class="errors" ng-messages="storeForm.storeSubCategory.$error">
                                    <div ng-message="md-max-chips">The maxmium of chips is reached.</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <md-button ng-click="csc.createStore()" class="md-raised md-primary md-button" type="submit">Submit</md-button>
            </form>
        </div>
    </div>
</div>
