<div class="layout-column flex">
   
   <form name="storeForm" class="" style="" novalidate>
      
      <!--
      <button class="imageUploadClick" type="file" ngf-select="csc.uploadSingleImage($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Upload Banner Image</button>
      <div style="width:100px;height:100px;">
         <img ng-src="{{csc.storeForm.bannerImage}}" style="width:100%;height:100%;">
      </div>-->
      
      <div >
        <div layout="row" layout-align="space-between center">
         <h2>Images</h2>
         <div>
            <button ngf-select="csc.uploadMultipleImages($files)" multiple accept="image/*">Upload Images</button>
            <br>

            {{csc.errorMsg}}
         </div>
        </div>
        <div layout="row" class="storeImagesCollection">
          <images-list-directive images-list="csc.storeForm.storeImages"></images-list-directive>  
        </div>
        
      </div>
      
      <div class="formItem  layout-column" >
         <div>
            <md-input-container >
               <label >Store Name</label>
               <input ng-model="csc.storeForm.name" type="text"  id="input_2"   required="required" style="">
               <div ng-messages=""  style="">
                  <!-- ngMessage: required -->
                  <div ng-message="required" class="" style="">This field is required</div>
               </div>
            </md-input-container>
         </div>
         <div>

            <div class="formItem-help-text">For multiple separate by comma Ex: sports, fashion etc</div>

                  <md-input-container >
                     <label >Category</label>
                     <input ng-model="csc.storeForm.category" type="text" id="input_16" required="required" style="">
                     <div ng-messages="InputView.form.$error" >

                        <div ng-message="required" class="" style="">This field is required</div>
                     </div>
                  </md-input-container>
         </div>
         <div>
            <div class="formItem-help-text ">any specific product type you sell</div>
            <md-input-container >
               <label >Sub Category</label>
               <input ng-model="csc.storeForm.subCategory" type="text" />
               <div ng-messages="InputView.form.$error" style="">
                  <!-- ngMessage: required -->
               </div>
            </md-input-container>

            <!-- end ngSwitchWhen: --><!-- ngSwitchWhen: textarea --><!-- ngSwitchWhen: matrix -->
         </div>
         <div>
            <md-input-container >
               <label >City</label>
               <input  type="text" ng-model="csc.storeForm.address.city" required>
               <div ng-messages="InputView.form.$error" >
                  <!-- ngMessage: required -->
                  <div ng-message="required" class="" style="">This field is required</div>
               </div>
            </md-input-container>
         </div>
         <div>
            <md-input-container >
               <label >Phone</label>
               <input  type="phone" ng-model="csc.storeForm.phone">
               <div ng-messages="InputView.form.$error" >
                  <!-- ngMessage: required -->
               </div>
            </md-input-container>
         </div>
         <div>

            <div class="formItem-help-text ">Ex:Dilsukhnagar, Malakpet</div>

            <md-input-container >
               <label>Area</label>
               <input  type="text"  ng-model="csc.storeForm.address.area" required="required">
               <div ng-messages="InputView.form.$error" >
                  <!-- ngMessage: required -->
                  <div ng-message="required" class="" style="">This field is required</div>
               </div>
            </md-input-container>
         </div>
         <div>
            <div class="formItem-help-text ">Ex: Colony name or street name</div>

            <md-input-container >
               <label >Locality</label>
               <input  type="text" ng-model="csc.storeForm.address.locality" required="required" style="">
               <div ng-messages="InputView.form.$error" >
                  <!-- ngMessage: required -->
                  <div ng-message="required" class="" style="">This field is required</div>
               </div>
            </md-input-container>
         </div>
         <div>

            <div class="formItem-help-text ">Ex: 1-456/789</div>

            <md-input-container >
               <label >Door No.</label>
               <input  type="text" ng-model="csc.storeForm.address.doorNo" />
               <div ng-messages="InputView.form.$error" >
                  <!-- ngMessage: required -->
               </div>
            </md-input-container>
         </div>
         <div>
            <md-input-container >
               <label >State</label>
               <input  type="text"  id="input_79" ng-model="csc.storeForm.address.state" >
               <div ng-messages="InputView.form.$error" >
                  <!-- ngMessage: required -->
               </div>
            </md-input-container> 
         </div>
         <div>
            <div class="formItem-help-text ">A brief description about your store</div>

            <md-input-container  >
               <label >Description</label>
               <textarea ng-model="csc.storeForm.description"  rows="1" aria-multiline="true" ></textarea>
               <div ng-messages="TextareaView.form.$error" >
                  <!-- ngMessage: required -->
               </div>
            </md-input-container>  
         </div>
         <div>

            <div class="formItem-help-text">List of words which describe your store. Separate by commas</div>
               <md-input-container  >
                  <label >Keywords</label>
                  <textarea ng-model="csc.storeForm.keywords"   rows="1" aria-multiline="true" ></textarea>
                  <div ng-messages="TextareaView.form.$error" >
                     <!-- ngMessage: required -->
                  </div>
               </md-input-container>
            </div>
         <div>
            <div class="formItem-title ">Country</div>           
            <md-input-container >
               <label ></label><input  type="text"  ng-model="csc.storeForm.address.country">
               <div ng-messages="InputView.form.$error" >
                  <!-- ngMessage: required -->
               </div>
            </md-input-container>
         </div>
         
      </div>
      <md-button ng-click="csc.createStore()" class="md-raised md-primary md-button" type="submit">Submit</md-button>
   </form>
</div>