.mdMenuContainer
	width: 250px
	text-transform: capitalize
	border: 1px solid #eee
	border-radius: 3px
	font-size: 10px
	.md-button
		span
			width: 100%
			text-transform: capitalize
			overflow-x: hidden
			text-overflow: ellipsis
	.menuHeading
		margin: 2px 5px
.userActivityButtonContainer
	border-radius: 2px 
	font-size: 14px
	height: 40px
	margin: 10px
	background-color: white
	border: 2px solid white
	&:hover
		background-color: #E5E7EC
		box-shadow: 0 0 0 1px transparent inset
		color: rgba(0,0,0,.95)
		border: 2px solid #e7e7e7
		
	span
		float: left
		margin: 5px
		margin-top: 6px
	.userName
		text-transform: capitalize
		margin-top: 10px
	.dropIcon
		margin-top: 10px
	.userActionListImage
		width: 24px
		height: 24px
		border-radius: 50%

	  
