.mobileSearchBoxContainer
  background-color: white
  position: fixed
  top: 55px
  bottom: 0
  left: 0
  right: 0
  z-index: 2
  .closeMobileSearchBoxContainer
    background-color: #eee
    padding: 10px
    .closeText
      color: red
  .searchBoxInputContainer
    padding: 10px
    height: 40px
    input
      width: 100%
      height: 100%
      border: 1px solid rgba(0,0,0,0.2)
      border-radius: 3px
  .mobileSearchListContainer
    padding: 10px
    padding-top: 0
    height: 90%
    overflow: auto
    .mobileSearchListEntity
      margin-bottom: 5px
      span
        font-size: 12px
.mobileSearchBox
  width: 100%
  height: 40px
  background-color: white
  .mobileSearchText
    color: rgba(0,0,0,0.7)
    padding: 10px
    font-size: 14px
    line-height: 40px
  

@media (max-width: 959px) and (min-width: 600px)
  .homePageDiv
    .searchBoxLayout
      height: 300px
@media (max-width : 599px)
  body
    //height: auto
  .fixedTopHeader
    position: fixed
    top: 0px
  .scrollUpSearch
    position: fixed
    top: 55px
    width: 100%
    z-index: 99
    display: none
  .search-icon-div
    padding: 10px
  .fixedHeaderMain
    margin-top: 65px
  .homePageDiv
    .searchBoxLayout
      height: 200px
    .search-box-container
      margin: auto 5%
      width: auto
    .search-banner
      margin-top: 55px
      height: 50vh
      padding: 0
.searchBoxStores
  .searchBoxLayout
    height: 80px
    padding: 20px
    background-color: teal
  @media (max-width: 959px) and (min-width: 600px)
    .searchBoxLayout
      padding: 0
      height: 100%
  @media (max-width : 599px)
    .searchBoxLayout
      padding: 0
      height: 100%
