<div layout="row" layout-align="center center">
        <form name="loginForm" novalidate="novalidate" flex>
                <md-toolbar>
                        <div class="md-toolbar-tools">
                                <h2>Login</h2>
                                <span flex="flex"></span>
                        </div>
                </md-toolbar>
                <div layout="column">
                        <div class="formEntity" flex="100">
                        		<div>
                        			<label class="formEntityLabel" for="email">Email</label>
                                <input class="formEntityInput" ng-model="login.user.email" type="email" name="email" placeholder="Email (required)" ng-required="true" />
                                <div ng-messages="loginForm.email.$error" style="">
                                        <div ng-message="required" class="" style="">This field is required</div>
                                </div>		
                        		</div>
                                
                        </div>
                        <div class="formEntity" flex="100">
                                <label class="formEntityLabel" for="password">Password</label>
                                <input class="formEntityInput" ng-model="login.user.password" type="password" name="password" placeholder="Password (required)" ng-required="true" />
                                <div ng-messages="loginForm.password.$error" style="">
                                        <div ng-message="required" class="" style="">This field is required</div>
                                </div>
                        </div>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="layout-wrap">
                                <md-button ng-click="login.submitLogin()" type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid">Login</md-button>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="layout-wrap">
                                <md-button ng-click="login.signUp()" class="md-raised md-primary">Signup</md-button>
                        </section>
                </div>
        </form>
</div>
