<div>
	<p>Name <input type="text" name="name" ng-model="sm.name" required /></p>
	<p>City <input type="text" name="city" ng-model="sm.address.city" required /></p>
	<p>Door No</p><input type="text" name="doorNo" ng-model="sm.address.doorno"> 
	<p>State</p><input type="text" name="state" ng-model="sm.address.state"> 
	<p>Country</p><input type="text" name="country" ng-model="sm.address.country"> 
	<p>district</p><input type="text" name="district" ng-model="sm.address.district"> 
	<p>zipCode</p><input type="text" name="zipCode" ng-model="sm.address.zipCode"> 
	<p>Area</p><input type="text" name="area" ng-model="sm.address.area"> 
	<p>Locality</p><input type="text" name="locality" ng-model="sm.address.locality"> 
	<p>Category</p><input type="text" name="category" ng-model="sm.categoryString"> 
	<button ng-click="sm.SendData()">Submit</button>
</div>